api-ajudante/node_modules
api-ajudante/public/build
api-ajudante/public/hot
api-ajudante/public/storage
api-ajudante/storage/*.key

api-ajudante/.env
api-ajudante/.env.backup
api-ajudante/.phpunit.result.cache
api-ajudante/Homestead.json
api-ajudante/Homestead.yaml
api-ajudante/npm-debug.log
api-ajudante/yarn-error.log
api-ajudante/.idea
api-ajudante/.vscode


vendedora/node_modules